# Database configuration
DATABASE_URL=jdbc:postgresql://host.docker.internal:${DB_PORT}/run_quest
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password

# PostgreSQL configuration for Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=run_quest

# Port configuration
DB_PORT=5432
API_PORT=8080

# JWT and other variables
JWT_SECRET=secret-key

# Spring Mail
SMTP_HOST=host
SMTP_PORT=port
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_AUTH=true
SMTP_STARTTLS_ENABLE=true
SMTP_DEFAULT_ENCODING=UTF-8